

#bt_formCpt {
float:right;
border:1px solid rgb(200,200,200);
padding:12px 24px;
margin:0 16px 0 0;
background-color:rgba(255,255,255,.85);
}

#bt_formCpt h2 {
margin:0 0 24px 0;
color:rgb(75,125,175);
border-bottom:2px dotted rgb(125,175,225);
}

#formCpt {
overflow:auto;
}

#formCpt label, #formCpt input {
display:inline-block;
padding:3px 12px;
}

#formCpt label {
width:100px;
text-align:right;
}

#formCpt_intitule, #formCpt_type, #formCpt_numero, #formCpt_montant {
border:1px solid rgb(175,175,175);
box-sizing:border-box;
width:160px;
margin:0 0 6px;
}

#div_formCpt_cre {
float:right;
}

#navigation {
margin:0 0 24px 0;
padding:6px 16px;
background-color:rgba(255,255,255,.7);
color:gray;
font-size:90%;
font-weight:bold;
}

#navigation a {
text-decoration:none;
color:gray;
}

#navigation a:hover {
text-decoration:underline;
}

#bt_suppBnq {
float:right;
border:1px solid rgb(200,200,200);
padding:12px 24px;
margin:128px 16px 0 0;
background-color:rgba(255,255,255,.85);
width: 289px;
}

#bt_suppBnq h2 {
margin:0 0 24px 0;
color:rgb(75,125,175);
border-bottom:2px dotted rgb(125,175,225);
}

#div_suppBnq_sup {
float:right;
}

#formBnq {
overflow:auto;
}

#formBnq label, #formBnq input {
display:inline-block;
padding:3px 12px;
}

#formBnq label {
width:100px;
text-align:right;
}

#bt_comptes {
overflow:auto;
}

.bloc_compte {
margin:12px;
padding:12px;
border:1px solid rgb(200,200,200);
background-color:rgba(255,255,255,.8);
text-decoration:none;
width:160px;
color:rgb(0,0,175);
display:inline-block;
}

.bloc_compte img {
width: 92px;
padding:6px;
display:block;
margin:0 auto 8px auto;
}

.bloc_compte p {
margin:0;
text-align:center;
font-size:85%;
overflow:hidden;
}

.montantpos {
color: green;
}

.montantneg {
color: red;
}