body {
background-image:url('../img/bg.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
font-family:"Open Sans";
min-width:1024px;
}

header {
background-color:rgba(255,255,255,.85);
overflow:auto;
padding:12px;
}

#logo {
float:left;
width:512px;
margin:0 92px 0 0;
}

#arborescence{
float:left;
}

#identification {
float:right;
color:rgb(120,163,193);
font-weight:bold;
margin:0;
}

#identifiants{
float:left;
margin:0;
}

#lien_deconnexion {
float:right;
}

#lien_deconnexion img {
margin-left:10px;
height:22px;
}

section {
overflow:auto;
}

input {
outline:none;
}

#navigation {
margin:0 0 24px 0;
padding:6px 16px 3px 16px;
background-color:rgba(255,255,255,.7);
color:gray;
font-size:90%;
font-weight:bold;
overflow: auto;
}

#navigation a {
text-decoration:none;
color:gray;
}

#navigation a:hover {
text-decoration:underline;
}

#intBanque{
    font-size:120%;
    font-weight: bold;
}

#intGene{
    color:darkslateblue;
    margin-top:26px;
    float:left;
    text-align:center;
    font-size:115%;
}